.inputForm{
    font-size: 1.5vw;
    width: 30%;
    height: 5%;
    position: relative;
    top: 27%;
    right: 21.5%;
    border: none;
    border-bottom: 5px solid red;
    margin-bottom: 2vw;
    /* border: 1px solid; */
    transition: all 0.5s;
}

.inputForm:focus{
    outline: none;
    border-bottom: 5px solid blue;
}