.ButtonLogin {
    font-size: 1.5vw;
    width: 30.5%;
    height: 6%;
    position: relative;
    top: 28%;
    right: 22%;
    background-color: rgb(30, 106, 248);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .ButtonLogin {
        width: 50%;
        position: initial;
        top: 28%;
        right: none;
        margin: auto;
    }
}